{{#each this}}
<div class="row route" id="{{id}}">
    <div class="span2">
        <h3>{{routeId}}</h3>
    </div>
    <div class="span8 progress" style="margin-top: 20px;">
        <div class="bar bar-success" style="width: {{percent exchangesCompleted exchangesTotal}}%;"></div>
    </div>
    <div class="span2">
        <h3><span class="text-success">{{exchangesCompleted}}</span> / <span
                class="text-error">{{exchangesFailed}}</span> / {{exchangesTotal}}</h3>
    </div>
</div>
{{/each}}
<div class="row">
    <div id="placeholder" class="span12" style="height: 300px; margin-top: 50px"></div>
    <div id="overview" class="span12" style="height: 50px; margin-top: 20px"></div>
</div>
