<td><span title="URI: {{ uri }}" rel="tooltip">{{ routeId }}</span></td>
<td class="num messageCount">{{ messageCount }}</td>
<td class="num successCount">{{ successCount }}</td>
<td class="num failureCount">{{ failureCount }}</td>
<td class="num successRate">{{ successRate }} %</td>
<td class="num averageTime">{{ averageTime }} ms.</td>
<td class="num minimumTime">{{ minimumTime }} ms.</td>
<td class="num maximumTime">{{ maximumTime }} ms.</td>
