<div class="row-fluid summary">
<span class="span4">
    <span class="summary-range">{{ prettyRange from to }}</span>
</span>
<span class="span2">
    <span class="summary-number">{{ total }}</span> <span class="summary-label">messages</span>
</span>
<span class="span2">
    <span class="summary-number">{{ completed }}</span> <span class="summary-label">completed</span>
</span>
<span class="span2">
    <span class="summary-number">{{ failed }}</span> <span class="summary-label">failed</span>
</span>
<span class="span2">
    <span class="summary-number">{{ average }}</span> <span class="summary-label">ms average</span>
</span>
</div>
