<div class="row-fluid summary" xmlns="http://www.w3.org/1999/html">
<span class="span4">
    <span class="summary-range">{{ prettyDate from }}</span><br/>
    <span class="summary-range">{{ prettyDate to }}</span>
</span>
<span class="span2">
    <span class="summary-number">{{ total }}</span> <span class="summary-label">messages</span>
</span>
<span class="span2">
    <span class="summary-number">{{ completed }}</span> <span class="summary-label">completed</span>
</span>
<span class="span2">
    <span class="summary-number">{{ failed }}</span> <span class="summary-label">failed</span>
</span>
<span class="span2">
    <span class="summary-number">{{ average }}</span> <span class="summary-label">ms average</span>
</span>
</div>
